[Unit]
Description=notes
After=network.target

[Service]
User=app
WorkingDirectory=/opt/notes
ExecStart=/usr/bin/java -jar -Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom /opt/notes/target/restCliente-{{app_version.stdout}}
SyslogIdentifier=restcliente-%i
 
[Install]
WantedBy=multi-user.target